@using System.Configuration;
@using EagleServicesWebApp.Components;
@{
    ViewBag.Title = "RFID Asset Management System";
    Layout = "~/Views/Shared/Layout.cshtml";
    List<EagleServicesWebApp.Models.Main.Engine> EngineData = ViewData["EngineData"] as List<EagleServicesWebApp.Models.Main.Engine>;
}
<style>
    a, a:link, a:visited {
        color: white;
        text-decoration: none;
    }
</style>
<div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head" style="background-color :#337ab7">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-technology m--font-brand"></i>
                </span>
                <h3 class="m-portlet__head-text m--font-brand">
                    Dashboard
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                @* <h3 class="m-portlet__head-text m--font-brand">@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Myanmar Standard Time").ToString("dd-MMM-yyyy HH:mm")</h3>*@
            </div>
        </div>
    </div>
    <p class="row"></p>
    <div id="form-panel" class="panel-body" data-loading-overlay="">
        <div class="form-group m-form__group row">
            @if (EngineData != null)
            {
                <div class="col-md-3">
                    @*<div style="margin-top: 10px; margin-left: 5px; cursor: pointer;width: 15%">*@
                    <section class="panel" style="margin-right: 2px;">
                        <div class="panel-body bg-success" style="background: #bde53c;">
                            <div class="widget-summary">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <div style="padding: 8px 5px 5px">
                                            <h4 class="title" style="color:white;font-size: 1.5rem;text-transform:uppercase;">
                                                @EngineData[0].EngineName
                                                <span style="position: relative; top: 0; right: 0; float: right; ">
                                                    <a class='k-button k-detail' style="color:darkblue;"><span class='k-icon k-i-align-justify' onclick='DetailEngine("@EngineData[0].EngineID")'></span></a>
                                                    <a class='k-button' style="color:darkblue;"><span class='k-icon k-i-reset-sm' onclick='RestEngine("@EngineData[0].EngineID")'></span></a>
                                                </span>
                                            </h4>
                                            <div class="info" id="eng1" style="padding-top:4px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    @*</div>*@
                </div>
                <div class="col-md-3">
                    <section class="panel" style="margin-right: 2px;">
                        <div class="panel-body bg-primary">
                            <div class="widget-summary">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <div style="padding: 8px 5px 5px">
                                            <h4 class="title" style="color:white;font-size: 1.5rem;text-transform:uppercase;">
                                                @EngineData[1].EngineName
                                                @*<span style="margin:0px 85px 5px 5px;">
                                                    </span>*@
                                                <span style="position: relative; top: 0; right: 0; float: right; ">
                                                    <a class='k-button k-detail' style="color:darkblue;"><span class='k-icon k-i-align-justify' onclick='DetailEngine("@EngineData[1].EngineID")'></span></a>
                                                    <a class='k-button' style="color:darkblue;"><span class='k-icon k-i-reset-sm' onclick='RestEngine("@EngineData[1].EngineID")'></span></a>
                                                </span>

                                            </h4>
                                            <div class="info" id="eng2" style="padding-top:4px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section class="panel">
                        <div class="panel-body bg-warning">
                            <div class="widget-summary">
                                <div class="widget-summary-col">
                                    <div class="summary" style="height:228px">
                                        <div style="padding: 8px 5px 5px">
                                            <h4 class="title" style="color:white;font-size: 1.5rem;text-transform:uppercase;">Enigne 003</h4>
                                            <div class="info">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section class="panel">
                        <div class="panel-body" style="background-color: #FC6140;">
                            <div class="widget-summary">
                                <div class="widget-summary-col">
                                    <div class="summary" style="height:228px">
                                        <div style="padding: 8px 5px 5px">
                                            <h4 class="title" style="color:white;font-size: 1.5rem;text-transform:uppercase;">Enigne 004</h4>
                                            <div class="info">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
            else
            {
                <p>Not To Show</p>
            }
        </div>
    </div>
</div>
<script>
    function DetailEngine(EnNo) {
        var test = EnNo;
        var vData = JSON.stringify(test);
        var url = '@Url.Action("Module", "Main")?engine=' + EnNo.trim();
        window.open(url);
    }
    function RefreshPage(EnNo) {
        window.location.reload();
    }
    function RestEngine(EnNo) {
        var voData = {
            engID: EnNo
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ResetData", "Main")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.result) {
                    setNotification("Info", "Successful Reset", 'success');
                    window.location.reload();
                } else {
                    setNotification("Warning", "Fail Reset", 'danger');
                }
            },
            error: function (error) {
                setNotification("Reset Error!!", "Fail Reload", 'danger');
            }
        });
    }
    $(document).ready(function () {
        $("#eng1").ready(function () {
            LoadDashData(1);
        });
        $("#eng2").ready(function () {
            LoadDashData(2);
        });
        setInterval(function () {
            LoadDashData(1);
        }, 12000);
        setInterval(function () {
            LoadDashData(2);
        }, 15000);
        function LoadDashData(EnNo) {
            var voData = {
                engine: EnNo
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Outstanding_Read", "Dashboard")',
                dataType: "json",
                data: JSON.stringify(voData),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.length > 0) {
                        $('#eng' + EnNo).html('');
                        for (var i = 0; i < result.length; i++) {
                            $("#eng" + EnNo).append('<strong style="color:white;font-size: 1.6rem;font-weight:600;"> ' +
                                'Outstanding module : <span>' + result[i].OutModule + '</span>' +
                                '</strong> <br/>' +
                                '<strong style="color:white;font-size: 1.6rem;font-weight:600;">' +
                                '   Outstanding part : ' + result[i].OutPart +
                                '</strong>  <br/>' +
                                '<strong style="color:white;font-size: 1.6rem;font-weight:600;">' +
                                '   Outstanding critical part :' + result[i].OutCritical +
                                '</strong>  <br/>' +
                                '<p style="color:white;font-size: 1.2rem;font-weight:600;padding-top:10px">' +
                                '   Status : ' + result[i].LastProcessStatus +
                                '</p>' +
                                '<strong style="color:white;font-size: 1.6rem;font-weight:600;">' +
                                '   Kitting Completion : ' + result[i].KittingCompletion  + ' %' +
                                '</strong> <br/>' +
                                '<strong style="color:white;font-size: 1.6rem;font-weight:600;">' +
                                '   Overall Completion : ' + result[i].OverallCompletion + ' %' +
                                '</strong>');
                        }
                    }
                },
                error: function (error) {
                    setNotification("Loading Error!!", error, 'danger');
                }
            });
        }
    });
</script>
